// colors
$black: #222222ff;
$white: #fafaffff;
$blue: #0094c6ff;
$bluedark: #007aabff;
$bluelight: #61dbfbff;
$yellow: #f7b32bff;
$pink: #da4167ff;
$orange: #d45c24ff;
$orangedark: #bd4922ff;

//see: https://codepen.io/sosuke/pen/Pjoqqp


// mixins

// https://css-tricks.com/snippets/sass/placing-items-circle/
// https://stackoverflow.com/questions/12813573/position-icons-into-circle
// https://codepen.io/thebabydino/pen/oNbQZXZ
// check: https://d3js.org and https://bl.ocks.org/mbostock/1747543