@import "normalize";
@import "reset";
@import "settings";
@import "animations";

nav {
  position: absolute;
  color: #ddd;
  background-color: #222;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  top: 10px;
  left: 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
}

section {
  height: 100vh;
}

.main {

  .headers {
    height: 33.3%;
    width: 100%;
    background: $black;
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-between;
    align-items: flex-end;
    color: #ddd;
    padding: 25px;

    &:last-child {
      align-items: flex-start;
    }

    h2 {
      float: right;
      // font-variant: small-caps;
      text-transform: uppercase;
      // min-width: 50%;
      text-align: right;
      font-size: 50px;
      min-width: max-content;

      span {
        font-style: italic;
        font-size: 20px;
        text-transform: initial;
        display: block;
      }
    }

    p {
      font-size: 12px;
      max-width: 40%;
      margin-right: 25px;
      align-self: center;
    }

    .icons { 
      // align-self: center;

      img {
        height: 30px;
        
        &:hover {
          filter: invert(15%) sepia(98%) saturate(3838%) hue-rotate(298deg) brightness(129%) contrast(122%);
        }
      }
    }
    
    &:hover {
      background: #222;
    }
  }
}